<%-include("partials/header")-%>

    <h1>ABOUT</h1>
    <!-- <p>
        <%=aboutPageContent%>
    </p> -->
    <p class="intro">Hi I'm Debanjan</p>
    <h3 class="about-me">Why I Develop</h3>
    <p>The allure of the digital realm has always fascinated me. I'm on a constant quest to learn and explore, to take
        ideas from the drawing board to the browser, and to build solutions that not only function but also resonate
        with users.</p>
    <h3 class="about-me">What Drives Me</h3>
    <p>I'm fueled by the belief that the internet can be a force for positive change. It's a platform for innovation, a
        canvas for artistic expression, and a bridge for connecting people worldwide. I'm excited to see where my
        passion and skills can lead in this ever-evolving digital landscape.</p>
    <h3 class="about-me">Let's Connect</h3>

    <p>I'm always eager to collaborate, learn from others, and share my experiences. Whether you're a fellow enthusiast,
        a potential collaborator, or someone just curious about what I do, don't hesitate to reach out. Let's embark on
        this web development adventure together.
        Feel free to customize this content with your personal information, experiences, and any additional details
        you'd like to include.</p>

    <%-include("partials/footer")-%>