<%-include("partials/header")-%>

    <h1>CONTACT</h1>

    <p>

        <%=contactPageContent%>

    </p>
    <form action="/" method="post">

        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label" name="firstNname">First Name</label>
            <input type="text" class="form-control">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label" name="lastName">Last Name</label>
            <input type="text" class="form-control">
        </div>

        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="userEmail">
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>

        <div class="form-floating">
            <label for="floatingTextarea2">Message</label>
            <textarea class="form-control" placeholder="Leave a message here" id="floatingTextarea2"
                style="height: 100px"></textarea>

        </div>
        <button type="submit" class="btn btn-success" style="margin-top: 10px;background-color: #1abc9c;">Submit</button>
    </form>



    <%-include("partials/footer")-%>