<%-include("partials/header")-%>

    <h1>Oops⛔! An unexpected error occured!</h1>
    <p>We apologize for the error in your Contact Me form submission. Please try again, and if the issue persists,
        contact us directly via email or phone:</p>

    <%-include("partials/footer")-%>